[submodule "BLIP"]
	path = BLIP
	url = https://github.com/BenAgro314/BLIP.git
[submodule "LLaVA"]
	path = LLaVA
	url = https://github.com/BenAgro314/LLaVA.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp
